* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Courier;
  color: #fff;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

* {
  color: #162E3C;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

#wrapper {
  min-width: 100vw;
}

header {
  position: relative;
  top: 0;
  left: 0;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header #logo {
  width: 30%;
  text-align: center;
}
header #logo p {
  font-weight: 600;
}
header #menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header #menu li {
  padding: 0 16px;
}
header #menu li a {
  font-size: calc(10px + 0.4166666667vw);
}
header #menu li a:hover {
  color: rgb(0, 138, 101);
}
header .burger {
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
header .burger-line {
  width: 30px;
  height: 2px;
  margin: 5px 0;
  background-color: rgb(0, 0, 0);
}
header .menu-burger {
  height: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: rgb(0, 138, 101);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
header .menu-burger.active {
  height: 200px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
header .menu-burger li {
  text-align: center;
  padding: 10px;
}
header .menu-burger li a {
  color: rgb(255, 255, 255);
}

main .main-screan {
  background-color: rgb(28, 46, 58);
}
main .main-screan__info {
  text-align: center;
  padding: 96px 30px 0 30px;
}
main .main-screan__info h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  font-size: calc(26px + 2.0833333333vw);
  line-height: 67px;
  color: #FFFFFF;
  padding: 0 0 26px 0;
}
main .main-screan__info p {
  color: #FFFFFF;
  font-size: calc(14px + 0.4166666667vw);
}
main .main-screan__action {
  text-align: center;
  padding: 38px 0 136px 0;
}
main .main-screan__action button {
  font-size: calc(10px + 0.3472222222vw);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #DDF0A7;
  padding: 14px 26px;
  border-radius: 64px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
main .main-screan__action button:hover {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: rgb(0, 138, 101);
  color: #DDF0A7;
}
main .main-screan__action_box-logo {
  margin-top: 30px;
}
main .main-screan__action_box-logo img {
  padding: 32px 18px 0 18px;
}
main .main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .main-img .bg-img {
  width: 5.5%;
  min-height: 100%;
}
main .main-img .bg-img-black {
  background-color: rgb(28, 46, 58);
  height: 50%;
  margin-top: -2px;
}
main .main-img .bg-img-white {
  background-color: #fff;
  height: 50%;
}
main .main-img-container {
  width: 89%;
}
main .main-img-container img {
  width: 100%;
}
main .why-us-container {
  margin: 128px 5.5% 0 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
main .why-us-container__img {
  min-width: 48%;
}
main .why-us-container__img img {
  width: 100%;
}
main .why-us-container__info {
  margin: 0 0 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .why-us-container__info #modified-paragraph {
  width: 72px;
  background: #DDF0A7;
  border-radius: 64px;
  text-align: center;
  padding: 4px 12px;
}
main .why-us-container__info h2 {
  padding: 15px 5px 27px 5px;
  font-size: calc(26px + 1.0416666667vw);
}
main .why-us-container__info p {
  font-size: calc(14px + 0.4166666667vw);
  padding-bottom: 22px;
}
main .why-us-container__info button {
  width: 140px;
  font-size: calc(10px + 0.3472222222vw);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 2px solid #162E3C;
  background: #fff;
  padding: 14px 26px;
  border-radius: 64px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
main .why-us-container__info button:hover {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  background-color: rgb(0, 138, 101);
  color: #DDF0A7;
}
main .why-us-container__success {
  min-width: 29%;
  height: 120px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DDF0A7;
  padding: 0 24px;
  position: absolute;
  top: 72%;
  left: 22%;
}
main .why-us-container__success_txt h6 {
  font-size: calc(15px + 1.1805555556vw);
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
}
main .why-us-container__success_txt p {
  font-size: calc(10px + 0.3472222222vw);
}
main .why-us-container__success_img {
  width: 72px;
  height: 72px;
}
main .why-us-container__success_img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  main .why-us-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  main .why-us-container .why-us-container__info {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 20px 0;
    text-align: center;
  }
  main .why-us-container .why-us-container__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 70%;
    margin: 0 auto;
  }
  main .why-us-container .why-us-container__info button, #modified-paragraph {
    margin: 0 auto;
  }
  main .why-us-container__success {
    height: 100px;
    min-width: 35%;
    top: 82%;
    left: 55%;
  }
  main .why-us-container__success_img {
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #menu {
    display: none;
  }
  header .burger {
    display: block;
  }
}